* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --gray-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

body {
  font-size: 1.2rem;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--cyan);
  background-image: url("/assets/img/bg-pattern-top.svg"),
    url("/assets/img/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left -20rem top -35rem, right -20rem bottom -40rem;
  /* url(images/bg-pattern-top.svg) left -20rem top -35rem no-repeat, url(images/bg-pattern-bottom.svg) right -10rem bottom -40rem no-repeat; */
  min-height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover {
  height: 100%;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.profile {
  position: relative;
  top: -2.5em;
  margin-bottom: 0;
  border-radius: 50%;
  border: 0.2rem solid white;
}

.name {
  display: flex;
  margin-top: -2rem;
  gap: 0.5rem;
  align-items: center;
}

hr {
  width: 100%;
}

.numbers {
  display: flex;
}
